{{outlet}}

<div class="row">
  <div class="col-sm-4">
    <label>Object ID</label>
    {{input type='number' value=object_id}}
  </div>

  <div class="col-sm-4">
    <label>Object Type</label>
  </div>

  <div class="col-sm-4">
    <label>Timestamp</label>
  </div>
</div>
